/* Index page */
body {
    background-color: white;
    padding: 0;
    margin: 0;
    border: 0;
}
#top {
    background-color: #d92027;
    display: flex;
    justify-content: center;
}
#logo {
    padding: 10px;
    display: flex;
    justify-content: center;
}
#logo img {
    max-width: 1400px;
    width: 80%;
}
nav {
    background: #d92027;
    margin-bottom: 15px;
}
nav img {
    width: 20vh;
}

#safety-oficers-DropdownMenuLink, #accident-reports-DropdownMenuLink,
#nearmiss-reports-DropdownMenuLink, #violations-reports-DropdownMenuLink  {
    color: white;
}
.dropdown-menu a {
    color: #d92027;
}

#link1, #link2 {
    color: #ffcd3c;
}

h1 {
    padding: 10px;
    text-align: center;
    color: #ffcd3c;
}
.row {
    display: flex;
    justify-content: center;
}
h2 {
    padding: 10px;
    text-align:center;
    color: black;
}
#log a {
    width: 5rem;
    margin: 5px;
    flex-direction: column;
}
#officers a {
    width: 6rem;
    margin: 5px;
}
#definition {
    display: flex;
    justify-content: center;
}
#definition img {
    padding: 10px;
    width: 90vw;
    max-width: 800px;
}
#reports {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}
.report {
    display: flex;
    flex-direction: column;
}
#reports a {
    width: 20rem;
    margin: 5px;
}
@media only screen and (min-width: 768px) {
    .report {
        flex-direction: row;
    }
}