/* Index page */
body {
    background-color: red;
    padding: 0;
    margin: 0;
    border: 0;
}
container {
    display: flex;
    justify-content: center;
}
#logo {
    padding: 10px;
    display: flex;
    justify-content: center;
}
h1 {
    /* display: flex; */
    padding: 10px;
    text-align: center;
}
.row {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
h2 {
    padding: 10px;
    text-align:center;
}
#log a {
    width: 5rem;
    margin: 5px;
    flex-direction: column;
}
#officers a {
    width: 8rem;
    margin: 5px;
}
#reports a {
    width: 10 rem;
    margin: 5px;
    /* display: flex;
    flex-direction: column; */
}
