{%extends 'base.template.html'%}

{%block content%}

<form method="POST">
    <div class="alert alert-danger">
        <h3>Are you sure you want to delete Violation Report?</h3>
        <p>Date: {{violation_report.date}}</p>
        <p>By: {{violation_report.safety_officer}}</p>
        <ul>
            <li>Location: {{violation_report.location}}</li>
            <li>Violation Type: {{violation_report.violation_type}}</li>
            <li>Description: {{violation_report.description}}</li>            
        </ul>
    </div>
    <input type="submit" value="Yes" class="btn btn-danger">
    <a href="{{url_for('show_violation_reports')}}" class="btn btn-success">No</a>

</form>
{%endblock%}