<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet" href="static/style.css">
<title>Title</title>
</head>
<body>
    <div class="container">
        <img src="static/safetynet-logo.png">
        <h1>SafetyNet</h1>
        <div class="row">
            <div>
                <a href="{{url_for('show_officers')}}" class="btn btn-primary">Safety Officers</a>
            </div>
            <div>
                <a href="{{url_for('create_officers')}}" class="btn btn-primary">Register</a>
            </div>
            <div>
                <a href="{{url_for('login')}}" class="btn btn-primary">Login</a>
            </div>
            <div>
                <a href="{{url_for('logout')}}" class="btn btn-primary">Logout</a>
            </div>
        </div>
        <h2>Choose Report Type</h2>
        <div>
            <p>
            <a href="{{url_for('show_accident_reports')}}" class="btn btn-success">Read Accident Reports</a>
            <a href="{{url_for('show_create_accident_report')}}" class="btn btn-success">Create Accident Reports</a>
            </p>
        </div>
        <div>
            <p>
            <a href="{{url_for('show_near_miss_reports')}}" class="btn btn-success">Read Near Miss Reports</a>
            <a href="{{url_for('show_create_near_miss_report')}}" class="btn btn-success">Create Near Miss Reports</a>
            </p>
        </div>
        <div>
            <p>
            <a href="{{url_for('show_violation_reports')}}" class="btn btn-success">Read Violation Reports</a>
            <a href="{{url_for('show_create_violation_report')}}" class="btn btn-success">Create Violation Reports</a>
            </p>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    {%with messages = get_flashed_messages(with_categories=true)%}
    {%if messages %}
    {%for category, message in messages%}
    {%if category=="success"%}
        toastr.success("{{message}}");
    {%endif%}
    {%if category=="danger"%}
        toastr.warning("{{message}}");
    {%endif%}
    {%endfor%}
    {%endif%}
    {%endwith%}    
</script>


</body>
</html>