{%extends 'base.template.html'%}

{%block content%}

<h1>Login</h1>

<form method="POST">

    {%with%}
        {%if not previous_values%}
            {%set previous_values = {}%}
        {%endif%}

    <div>
        <label>Email</label>
        <input type="text" name="email" class="form-control {%if 'email_empty' in errors or 'proper_email' in errors %} is-invalid {%endif%}" value="{{previous_values.email}}">
        {%if 'email_empty' in errors or 'proper_email' in errors%}
        <div class="invalid-feedback">
            {{errors.email_empty or errors.proper_email}}
        </div>
        {%endif%}
        <label>Password</label>
        <input type="password" name="password" class="form-control {%if 'password_empty' in errors or 'password_too_short' in errors %} is-invalid {%endif%}" value="{{previous_values.password}}">
        {%if 'password_empty' in errors or 'password_too_short' in errors%}
        <div class="invalid-feedback">
            {{errors.password_empty or errors.password_too_short}}
        </div>
        {%endif%}
    </div>
    <input type="submit" value="Login" class="btn btn-primary mt-3"/>
    <a href="{{url_for('index')}}" class="btn btn-danger mt-3">Cancel</a>
    {%endwith%}
</form>

{%endblock%}