{%extends 'base.template.html'%}

{%block input%}
<input class="form-control mr-sm-2" type="search" name="near_miss"  placeholder="Search" aria-label="Search">
<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
{%endblock%}

<h1>Near Miss Reports</h1>
{%block content%}
{%with%}
    {%if not previous_values%}
        {%set previous_values = {}%}
    {%endif%}
<h1>Near Miss Reports</h1>
<form class="form-inline mt-3 mb-3" id="near_miss_search" method="GET"> 
    <input class="form-control mr-sm-2" type="search" name="location"  placeholder="Location" aria-label="Search">
    <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
{%endwith%}
</form>

{% for each_near_miss_report in near_miss_reports %}
<div class="card border-dark mb-3">
    <div class="card-header">
        <h5><strong>Date:</strong> {{each_near_miss_report.date}} by {{each_near_miss_report.safety_officer}}</h5>
        {%if current_user.is_authenticated %} 
        <a href="{{url_for('show_update_near_miss_report', near_miss_report_id=each_near_miss_report._id)}}" class="btn btn-primary btn-sm">Update</a>
        <a href="{{url_for('show_delete_near_miss_report', near_miss_report_id=each_near_miss_report._id)}}" class="btn btn-danger btn-sm">Delete</a>
        {%endif%}
    </div>
    <div class="card-body">
    <div class="card-img-left">
        <img src="{{each_near_miss_report.image_url}}">
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Location:</strong> {{each_near_miss_report.location}}</li>
        <li class="list-group-item"><strong>Description:</strong> {{each_near_miss_report.description}}</li>
  </ul>
    </div>
</div>
{%endfor%}
{%endblock%}