{%extends 'base.template.html'%}

{%block input%}
{%with%}
    {%if not previous_values%}
        {%set previous_values = {}%}
    {%endif%}
<input class="form-control mr-sm-2" type="search" name="accident"  placeholder="Search" aria-label="Search">
<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
{%endwith%}
{%endblock%}

{%block content%}
{%with%}
    {%if not previous_values%}
        {%set previous_values = {}%}
    {%endif%}
<h1>Accident Reports</h1>
<form class="form-inline mt-3 mb-3" id="accident_search" method="GET"> 
    <select class="form-control" name="accident_search_by" >
        <option value="1" {%if previous_values == "1"%} selected {%endif%}>Location</option>
        <option value="2" {%if previous_values == "2"%} selected {%endif%}>Accident Type</option>
        <option value="3" {%if previous_values == "3"%} selected {%endif%}>Injuries</option>
    </select>
    <input class="form-control mr-sm-2" type="search" name="accident_specific"  placeholder="Category Search" aria-label="Search">
    <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
{%endwith%}
</form>

{% for each_accident_report in accident_reports%}
<div class="card border-dark mb-3">
    <div class="card-header" id="top">
        <h5><strong>Date:</strong> {{each_accident_report.date}} by {{each_accident_report.safety_officer}}</h5>
           {%if current_user.is_authenticated %}
            <a href="{{url_for('show_update_accident_report', accident_report_id=each_accident_report._id)}}" class="btn btn-primary btn-sm">Update</a>
            <a href="{{url_for('show_delete_accident_report', accident_report_id=each_accident_report._id)}}" class="btn btn-danger btn-sm">Delete</a>
            {%endif%}
    </div>
    <div class="card-body">
    <div class="card-img-left">
        <img src="{{each_accident_report.image_url}}">
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Location:</strong> {{each_accident_report.location}}</li>
        <li class="list-group-item"><strong>Accident Type:</strong> {{each_accident_report.accident_type}}</li>
        <li class="list-group-item"><strong>Description:</strong> {{each_accident_report.description}}</li>
        <li class="list-group-item"><strong>Injuries:</strong> {{each_accident_report.injuries}}</li>
    </ul>
    </div>
</div>
{%endfor%}
{%endblock%}