{%extends 'base.template.html'%}

{%block input%}
<input class="form-control mr-sm-2" type="search" name="name"  placeholder="Name" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
{%endblock%}

{%block content%}

<h1>Safety Officers</h1>

{% for each_officer in officers %}
<div class="card border-dark mb-3">
    <h5 class="card-header"><strong>Name:</strong> {{each_officer.first_name}} {{each_officer.last_name}}
    {%if current_user.is_authenticated %}
    <a href="{{url_for('show_update_officer', officer_id=each_officer._id)}}" class="btn btn-primary btn-sm">Update</a>
    <a href="{{url_for('show_delete_officer', officer_id=each_officer._id)}}" class="btn btn-danger btn-sm">Delete</a>
    {%endif%}</h5>
    <div class="card-body">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Contact Number:</strong> {{each_officer.contact_number}}</li>
        <li class="list-group-item"><strong>Email:</strong> {{each_officer.email}}</li>
    </ul>
    </div>
</div>
{%endfor%}

{%endblock%}