{%extends 'base.template.html'%}

{%block input%}
<input class="form-control mr-sm-2" type="search" name="near_miss"  placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
{%endblock%}

{%block content%}

<h1>Near Miss Reports</h1>

{% for each_near_miss_report in near_miss_reports %}
<div class="card">
    <div class="card-body">
    <h5 class="card-title"><strong>Date:</strong> {{each_near_miss_report.date}} by {{each_near_miss_report.safety_officer}}
    {%if current_user.is_authenticated %} 
    <a href="{{url_for('show_update_near_miss_report', near_miss_report_id=each_near_miss_report._id)}}" class="btn btn-primary btn-sm">Update</a>
    <a href="{{url_for('show_delete_near_miss_report', near_miss_report_id=each_near_miss_report._id)}}" class="btn btn-danger btn-sm">Delete</a>
    {%endif%}</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Location:</strong> {{each_near_miss_report.location}}</li>
        <li class="list-group-item"><strong>Description:</strong> {{each_near_miss_report.description}}</li>
  </ul>
</div>
{%endfor%}
{%endblock%}