{%extends 'base.template.html'%}

{%block input%}
<input class="form-control mr-sm-2" type="search" name="accident"  placeholder="Name" aria-label="Search">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
{%endblock%}

{%block content%}
<h1>Accident Reports</h1>

{% for each_accident_report in accident_reports %}
<div class="card">
    <div class="card-body">
    <h5 class="card-title"><strong>Date:</strong> {{each_accident_report.date}} by {{each_accident_report.safety_officer}}
    {%if current_user.is_authenticated %}
    <a href="{{url_for('show_update_accident_report', accident_report_id=each_accident_report._id)}}" class="btn btn-primary btn-sm">Update</a>
    <a href="{{url_for('show_delete_accident_report', accident_report_id=each_accident_report._id)}}" class="btn btn-danger btn-sm">Delete</a>
    {%endif%}</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Location:</strong> {{each_accident_report.location}}</li>
        <li class="list-group-item"><strong>Accident Type:</strong> {{each_accident_report.accident_type}}</li>
        <li class="list-group-item"><strong>Description:</strong> {{each_accident_report.description}}</li>
        <li class="list-group-item"><strong>Injuries:</strong> {{each_accident_report.injuries}}</li>
  </ul>
</div>
{%endfor%}
{%endblock%}