{%extends 'base.template.html'%}

{%block content%}

<h1>Accident Reports</h1>

<ul>
{% for each_accident_report in accident_reports %}
    <li>
    {{each_accident_report.date}}
    {%if current_user.is_authenticated %}
    <a href="{{url_for('show_update_accident_report', accident_report_id=each_accident_report._id)}}" class="btn btn-primary">Edit</a>
    <a href="{{url_for('show_delete_accident_report', accident_report_id=each_accident_report._id)}}" class="btn btn-danger">Delete</a>
    {%endif%}
    </li>
    <li>{{each_accident_report.location}}</li>
    <li>{{each_accident_report.accident_type}}</li>
    <li>{{each_accident_report.description}}</li>
    <li>{{each_accident_report.injuries}}</li>
    <li>{{each_accident_report.safety_officer}}</li>

{%endfor%}
</ul>

{%endblock%}