{%extends 'base.template.html'%}

{%block content%}

<h1>Violation Reports</h1>

<ul>
{% for each_violation_report in violation_reports %}
    <li>
    {{each_violation_report.date}}
    {%if current_user.is_authenticated %}
    <a href="{{url_for('show_update_violation_report', violation_report_id=each_violation_report._id)}}" class="btn btn-primary">Update</a>
    <a href="{{url_for('show_delete_violation_report', violation_report_id=each_violation_report._id)}}" class="btn btn-danger">Delete</a>
    {%endif%}
    </li>
    <li>{{each_violation_report.location}}</li>
    <li>{{each_violation_report.violation_type}}</li>
    <li>{{each_violation_report.description}}</li>
    <li>{{each_violation_report.safety_officer}}</li>

{%endfor%}
</ul>

{%endblock%}