{%extends 'base.template.html'%}

{%block content%}

<h1>Safety Officers</h1>

{% for each_officer in officers %}
<div class="card">
    <div class="card-body">
    <h5 class="card-title"><strong>Name:</strong> {{each_officer.first_name}} {{each_officer.last_name}}
    {%if current_user.is_authenticated %}
    <a href="{{url_for('show_update_officer', officer_id=each_officer._id)}}" class="btn btn-primary btn-sm">Update</a>
    <a href="{{url_for('show_delete_officer', officer_id=each_officer._id)}}" class="btn btn-danger btn-sm">Delete</a>
    {%endif%}</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Contact Number:</strong> {{each_officer.contact_number}}</li>
        <li class="list-group-item"><strong>Email:</strong> {{each_officer.email}}</li>
  </ul>
</div>
{%endfor%}
{%endblock%}
