{%extends 'base.template.html'%}

{%block content%}

<h1>Violation Reports</h1>

{% for each_violation_report in violation_reports %}
<div class="card">
    <div class="card-body">
    <h5 class="card-title">Date: {{each_violation_report.date}} by {{each_violation_report.safety_officer}}
    {%if current_user.is_authenticated %} 
    <a href="{{url_for('show_update_violation_report', violation_report_id=each_violation_report._id)}}" class="btn btn-primary">Update</a>
    <a href="{{url_for('show_delete_violation_report', violation_report_id=each_violation_report._id)}}" class="btn btn-danger">Delete</a>
    {%endif%}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Location: {{each_violation_report.location}}</li>
        <li class="list-group-item">Violation Type: {{each_violation_report.violation_type}}</li>
        <li class="list-group-item">Description: {{each_violation_report.description}}</li>
  </ul>
</div>
{%endfor%}
{%endblock%}
