{%extends 'base.template.html'%}

{%block content%}

<h1>Accident Reports</h1>

{% for each_accident_report in accident_reports %}
<div class="card">
    <div class="card-body">
    <h5 class="card-title">Date: {{each_accident_report.date}}
    {%if current_user.is_authenticated %} by {{each_accident_report.safety_officer}}
    <a href="{{url_for('show_update_accident_report', accident_report_id=each_accident_report._id)}}" class="btn btn-primary btn-sm">Update</a>
    <a href="{{url_for('show_delete_accident_report', accident_report_id=each_accident_report._id)}}" class="btn btn-danger btn-sm">Delete</a>
    {%endif%}</h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Location: {{each_accident_report.location}}</li>
        <li class="list-group-item">Accident Type: {{each_accident_report.accident_type}}</li>
        <li class="list-group-item">Description: {{each_accident_report.description}}</li>
        <li class="list-group-item">Injuries: {{each_accident_report.injuries}}</li>
        <li class="list-group-item">Accident Type: {{each_accident_report.safety_officer}}</li>
  </ul>
</div>
{%endfor%}
{%endblock%}