{%extends 'base.template.html'%}
{%block input%}
<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a class="form-control" href="{{url_for('violation_search')}}">Search</a></button>
{%endblock%}

{%block content%}

<h1>Violation Reports</h1>

{% for each_violation_report in violation_reports %}
<div class="card">
    <div class="card-body">
    <h5 class="card-title"><strong>Date:</strong> {{each_violation_report.date}} by {{each_violation_report.safety_officer}}
    {%if current_user.is_authenticated %} 
    <a href="{{url_for('show_update_violation_report', violation_report_id=each_violation_report._id)}}" class="btn btn-primary">Update</a>
    <a href="{{url_for('show_delete_violation_report', violation_report_id=each_violation_report._id)}}" class="btn btn-danger">Delete</a>
    {%endif%}</h5>
    <div>
        <img src="{{each_violation_report.image_url}}" width="400" height="300">
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Location:</strong> {{each_violation_report.location}}</li>
        <li class="list-group-item"><strong>Violation Type:</strong> {{each_violation_report.violation_type}}</li>
        <li class="list-group-item"><strong>Description:</strong> {{each_violation_report.description}}</li>
  </ul>
</div>
{%endfor%}
{%endblock%}
