{%extends 'base.template.html'%}

{%block content%}

{%with%}
    {%if not previous_values%}
        {%set previous_values = {}%}
    {%endif%}

<h2>Update Near Miss Report by {{near_miss_report.safety_officer}} on {{near_miss_report.date}}</h2>
<form method="POST">
        {%include 'form_near_miss_report.template.html'%}
    {%endwith%}
    <input type="submit" value="Update" class="btn btn-success mt-3">
    <a href="{{url_for('near_miss_search')}}" class="btn btn-danger mt-3">Cancel</a>
</form>

{%endblock%}

{%block script%}
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  
	<script type="text/javascript">
		var myWidget = cloudinary.createUploadWidget({
  cloudName: '{{cloud_name}}', 
  uploadPreset: '{{upload_preset}}'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
     console.log(result);
                    // extract info from inspector of html  
                    let assetId = result.info.asset_id;
                    let fileURL = result.info.url;
                    // assign the inspector info to the javascript value
                    document.querySelector("#uploaded-file-url").value = fileURL;
                    document.querySelector("#asset-id").value = assetId;
    }
  }
)

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
	</script>
{%endblock%}